@import 'tailwindcss';

@theme {
  /* 定义颜色变量 */
  --color-light: #f3f4f6;
  --color-primary: #4b5563;
  --color-secondary: #f97316;
  --color-toast-success: #10b981;
  --color-toast-error: #ef4444;
  --color-toast-warning: #f59e0b;
  --color-toast-info: #3b82f6;
  --shadow-card: 0 4px 20px -2px rgb(0 0 0 / 10%);

  @keyframes toast-in {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes toast-out {
    0% {
      opacity: 1;
      transform: translateX(0);
    }

    100% {
      opacity: 0;
      transform: translateX(100%);
    }
  }

  /* 将关键帧绑定给CSS变量（这是v4使用自定义动画的方式） */
  --animate-toast-in: toast-in 0.3s ease-out forwards;
  --animate-toast-out: toast-out 0.3s ease-in forwards;
}

/* 对话框 */
@utility card-shadow {
  box-shadow: var(--shadow-card);
}

@utility chat-container {
  @apply max-w-[80%] px-4 py-3 relative rounded-lg shadow-sm;
}

@utility chat-content {
  @apply break-all wrap-break-word;
}

@utility chat-corner {
  @apply absolute border-y-4 border-y-transparent h-0 top-2 w-0;
}

@utility chat-footer {
  @apply flex gap-1 mt-1 text-xs;
}

@utility chat-wrapper {
  @apply flex mb-4;
}

/* 消息框 */
@utility toast-base {
  @apply inline-flex items-start gap-2 px-4 py-3 rounded-lg shadow-lg text-left text-white max-w-sm cursor-pointer transition-all duration-300;
}

@utility toast-close {
  @apply text-sm hover:opacity-80 transition-opacity;
}

@utility toast-container {
  @apply fixed top-4 right-4 z-50 flex flex-col gap-3 pointer-events-none;
}

@utility toast-content {
  @apply flex-1 text-sm font-medium wrap-break-word break-all;
}

@utility toast-icon {
  @apply pt-0.5 text-xl text-center;
}

body {
  margin: 0;
  color: #fff;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-color: #020917;
}
